= form.simple_fields_for family_characteristic do |f|
  = f.input :date, as: :date, label: 'Год', input_field: 'str', discard_month: true, discard_day: true
  = f.input :honey_productivity, label: 'Медопродуктивность (кг)', placeholder: '100'
  = f.input :wax_productivity, label: 'Воскопродуктивность (вощин)', placeholder: '11'
  = f.input :family_strength, label: 'Сила семьи (улочек)', placeholder: '11'
  hr
  = f.input :comment, label: "Комментарий", input_html: { class: 'input-block-level' }, as: :text
  