= form.simple_fields_for womb do |f|
  = f.input :year, as: :date, label: 'Год', input_field: 'str', discard_month: true, discard_day: true
  = f.input :breed, label: "Порода"
  = f.input :prolificacy, label: "Плодность", placeholder: 'Плодная'
  hr
  = f.input :label, label: "Метка", placeholder: 'M.1'
  hr
  = f.input :comment, label: "Комментарий", input_html: { class: 'input-block-level' }, as: :text