= simple_form_for apiary do |f|
    h3
      = apiary.new_record? ? "Новая пасека" : "Редактировать пасеку #{apiary.title}"  
    div.form-inputs
      = f.input :title, as: :string, label: "Название пасеки", input_html: { class: 'input-block-level' }


    div.form-actions
      = f.button :submit, value: "#{apiary.new_record? ? 'Создать пасеку' : 'Обновить пасеку'}", class: 'btn btn-primary'
