h2 Мои пасеки 
hr

ul.list
  - @apiaries.each do |apiary|
    li.apiary
      div.dropdown
        a#drop4.dropdown-toggle data-toggle="dropdown" href="#" role="button" 
          | Изменить
          b.caret
        ul#menu1.dropdown-menu aria-labelledby="drop4" role="menu" 
          li role="edit-family" 
            = link_to 'Редактировать', edit_apiary_path(apiary), role: 'menuitem', tabindex: '-1'
          li role="edit-family" 
            = link_to 'Удалить', apiary, method: :delete, role: 'menuitem', tabindex: '-1'


      = link_to apiary do
        dl
          dt = apiary.title
          dd
            | Количество семей:  
            = apiary.families.count
  li.create
    = link_to 'Добавить пасеку', new_apiary_path