h2 
  = "Ульи в #{@apiary.title}" 
hr
section.families
ul.list
  - @apiary.families.each do |family|
    li.family.content_menu data-type="family" style="background-color: #{family.bodies.first.color}"  data-remove-url="#{apiary_family_path(@apiary, family)}"  data-edit-url="#{edit_apiary_family_path(@apiary, family)}"
      div.dropdown
        a#drop4.dropdown-toggle data-toggle="dropdown" href="#" role="button" 
          | Изменить
          b.caret
        ul#menu1.dropdown-menu aria-labelledby="drop4" role="menu" 

          li role="edit-family" 
            = link_to 'Запланировать работу', new_apiary_family_job_path(@apiary, family), role: 'menuitem', tabindex: '-1'          
          li role="edit-family" 
            = link_to 'Записать в журнал...', new_apiary_family_journal_path(@apiary, family), role: 'menuitem', tabindex: '-1'          
          li role="edit-family" 
            = link_to 'Добавить карточку...', new_apiary_family_cards_path(@apiary, family), role: 'menuitem', tabindex: '-1'          
            
          li.divider role="presentation" 

          li role="edit-family" 
            = link_to 'Смотреть журнал', [@apiary, family], role: 'menuitem', tabindex: '-1'          
          li role="edit-family" 
            = link_to 'Смотреть карточку', apiary_family_cards_path(@apiary, family), role: 'menuitem', tabindex: '-1'          

          li.divider role="presentation" 
          
          li role="edit-family" 
            = link_to 'Редактировать', edit_apiary_family_path(@apiary, family), role: 'menuitem', tabindex: '-1'
          li role="edit-family" 
            = link_to 'Дублировать', dublicate_apiary_family_path(@apiary, family), role: 'menuitem', tabindex: '-1'
          
          li.divider role="presentation" 
          

          li role="edit-family" 

            = link_to 'Удалить', [@apiary, family], method: :delete, role: 'menuitem', tabindex: '-1'

  li.create
    = link_to 'Добавить семью', new_apiary_family_path(@apiary)





