= simple_form_for [ @apiary, @family, job] do |f|
  h3
    = job.new_record? ? "Запланировать работу" : "Редактировать работу"  
  div.form-inputs
    = f.input :date, label: 'Число'

    = f.input :description, input_html: { class: 'input-block-level' }, label: 'Описание'
  div.form-actions
    = f.button :submit, value: "#{job.new_record? ? 'Запланировать' : 'Обновить'}", class: 'btn btn-primary'