h2 Все запланированые работы
hr

div.container
  div.row
    table.table.table-bordered.table-hover.jobs
      thead
        tr
          th Значение цвета
      tbody
        tr.error
          td Прошедшие
        tr.warning
          td На сегодня
        tr.success
          td На будущее
    hr
    table.table.table-bordered.table-hover.jobs
      thead
        tr
          th #
          th Дата
          th Задача
          th Действие
      tbody
        - @jobs.each_with_index do |value, index|
          tr class="#{job_status(value.date.to_date)}"
            td = index
            td 
              = time_tag value.date 
            td
              p = value.description
            
            td.buttons

              .btn-group
                a.btn.dropdown-toggle data-toggle="dropdown" href="#" 
                  | Изменить
                  span.caret
                ul.dropdown-menu
                  li
                    = link_to 'Редактировать', edit_job_path(value)
                  li
                    = link_to 'Удалить', job_path(value), method: :delete

                  /! dropdown menu links



