= simple_form_for [apiary, family] do |f|
  h3
    = family.new_record? ? "Новая семья" : "Редактировать семью #{family.num}"  
  div.form-inputs
    = f.input :num, label: "Номер семьи", autofocus: true

    fieldset 
      legend
        | Матка
    - if family.new_record?     
      = f.simple_fields_for :wombs do |womb_form|
        = womb_form.input :year, as: :date, label: 'Год', input_field: 'str', discard_month: true, discard_day: true
        = womb_form.input :breed, label: "Порода"
        = womb_form.input :prolificacy, label: "Плодность"
        
    - elsif !family.wombs.first.nil?
      = f.simple_fields_for family.wombs.first do |womb_form|
        = womb_form.input :year, as: :date, label: 'Год', input_field: 'str', discard_month: true, discard_day: true
        = womb_form.input :breed, label: "Порода"
        = womb_form.input :prolificacy, label: "Плодность"
        
    fieldset
      legend
        abbr title="required" * 
        | Параметры улья
    - if family.new_record?     
      = f.simple_fields_for :bodies do |body_form|
        = body_form.input :frame_count, as: :decimal, label: 'Количество рамок'
        = body_form.input :size_width, label: 'Ширина (в метрах)'
        = body_form.input :size_height, label: 'Высота (в метрах)'
        = body_form.input :color, label: 'Цвет', input_html: { class: 'colorpicker' }
    - elsif !family.bodies.first.nil?
      = f.simple_fields_for family.bodies.first do |body_form|
        = body_form.input :frame_count, as: :decimal, label: 'Количество рамок'
        = body_form.input :size_width, label: 'Ширина (в метрах)'
        = body_form.input :size_height, label: 'Высота (в метрах)'
        = body_form.input :color, label: 'Цвет', input_html: { class: 'colorpicker' }


  div.form-actions
    = f.button :submit, value: "#{family.new_record? ? 'Создать семью' : 'Обновить семью'}", class: 'btn btn-primary'

