section.families
ul.list
  - @apiary.families.each do |family|
    li.family style="background-color: #{family.bodies.first.color}"
      = link_to family.num, [@apiary, family]

  li.create
    = link_to 'Добавить семью', new_apiary_family_path(@apiary)