h2.text-center
  | Журнал для 
  =< @family.num
hr

div.container
  div.row
    table.table.table-bordered.journal   
      thead
        tr
          th Дата
          th Информация
      tbody
        - @family.posts.order('year DESC').each do |post|
          tr
            td.time
              = time_tag post.year, format: '%B %d, %Y'
            td
              - if post.text.present?
                p = post.text
                hr
              - if post.attachments.present?
                - post.attachments.each do |attachment|
                  = link_to attachment.asset.url(:original), class: 'image-popup' do
                    = image_tag attachment.asset.url(:thumb), class: 'img-polaroid'
                hr

              table.table.table-bordered.informations.table-hover
                thead
                  tr
                    th Сила семьи (Улочек)
                    th Вощина
                    th Расплод
                    th Мед (кг)
                    th Масса улья (кг)
                tbody
                  tr
                    = information_table_data(post)
              br
              - if post.body_revision.present?
                h4 Добавлен новый корпус:
                table.table.table-bordered.informations.table-hover
                  thead
                    tr
                      th Количество рамок
                      th Ширина (м)
                      th Высота (м)
                      th Цвет
                  tbody
                    tr
                      td = post.body_revision.frame_count
                      td = post.body_revision.size_width
                      td = post.body_revision.size_height
                      td style="background-color: #{post.body_revision.color}"
                         = "            "
              - if post.root_body_revision.present?
                h4 Параметры корневого корпуса:
                table.table.table-bordered.informations.table-hover
                  thead
                    tr
                      th Количество рамок
                      th Ширина (м)
                      th Высота (м)
                      th Цвет
                  tbody
                    tr
                      td = post.root_body_revision.frame_count
                      td = post.root_body_revision.size_width
                      td = post.root_body_revision.size_height
                      td style="background-color: #{post.root_body_revision.color}"
                         = "            "


