= form.input :temporary_attachments, as: :file, input_html: { multiple: true }, label: 'Загрузить изображения ( Работает выделение )'
/ attachments do |attachment|
  / = attachment.input :asset, input_html: { multiple: true }