= form.simple_fields_for :new_body do |revision_form|
  = revision_form.input :frame_count, as: :decimal, label: 'Количество рамок'
  = revision_form.input :size_width, label: 'Ширина (в метрах)'
  = revision_form.input :size_height, label: 'Высота (в метрах)'
  = revision_form.input :color, label: 'Цвет', input_html: { class: 'colorpicker' }

