table.table.table-bordered.informations
  thead
    tr
      th Сила семьи (Улочек)
      th Вощина
      th Расплод
      th Мед (кг)
      th Масса улья (кг)
  tbody
    tr
      td
        = form.input_field :family_strength
      td
        = form.input_field :wax
      td
        = form.input_field :brood
      td
        = form.input_field :honey
      td
        = form.input_field :family_weight