div.navbar
  div.navbar-inner
    div.container
        div
          ul.nav
            li.dropdown
              = link_to '#', data: { toggle: 'dropdown' } do
                | Пасеки
                b.caret
                ul.dropdown-menu
                  li
                    = link_to 'Все мои пасеки', apiaries_path 
                  li
                    = link_to 'Создать пасеку', new_apiary_path

            - if (params[:controller] == 'families') || ((params[:controller] == 'apiaries') && (params[:action] == 'show'))#|| (params[:controller] == 'apiaries' && params[:action] == 'show')
              li.dropdown 
                = link_to '#', data: { toggle: 'dropdown' } do
                  = "Семьи в #{@apiary.title}"
                  b.caret
                  ul.dropdown-menu
                    li
                      = link_to "Все семьи в пасеки #{@apiary.title}", @apiary
                    li
                      = link_to "Создать самью для пасеки в #{@apiary.title}", new_apiary_family_path(@apiary)
          ul.nav.pull-right
            - if current_user
              li
                = link_to 'Запланироване работы', jobs_path
              li
                = link_to 'Выйти', destroy_user_session_path, method: 'DELETE'
            - else
              li
                = link_to 'Логин', new_user_session_path
              li
                = link_to 'Регистрация', new_user_registration_path