= simple_form_for [ @apiary, @family, post ], url: apiary_family_journals_path do |f|
  h3 Добавить запись в журнал
  hr
  = f.input :year, as: :date, label: 'Число', input_field: 'str'
  ul.nav.nav-tabs
    li.active
      = link_to 'Текст', '#text', data: { toggle: "tab" }, class: 'tab-switches'
    li
      = link_to 'Данные', '#information', data: { toggle: "tab" }, class: 'tab-switches'
    li
      = link_to 'Фотографии', '#photos', data: { toggle: "tab" }, class: 'tab-switches'
    li
      = link_to 'Изм. корн. корпус', '#root_family_status', data: { toggle: "tab" }, class: 'tab-switches'
    li
      = link_to 'Добавить корпус', '#family_status', data: { toggle: "tab" }, class: 'tab-switches'


  div.tab-content
    div.tab-pane.fade.in.active#text
      = render 'journals/forms/text', form: f
    div.tab-pane.fade.in#information
      = render 'journals/forms/information', form: f
    div.tab-pane.fade.in#photos
      = render 'journals/forms/attachment.html.slim', form: f
    div.tab-pane.fade.in#root_family_status
      = render 'journals/forms/root_family_status.html.slim', form: f, post: post
    div.tab-pane.fade.in#family_status
      = render 'journals/forms/family_status.html.slim', form: f, post: post
            

  hr
    = f.button :submit, value: 'Создать запись', class: 'btn btn-primary left'


- content_for :javascript
  coffee:
    $('a.tab-switches').click (e) ->
      e.preventDefault()
      $(@).tab 'show'
