= simple_form_for [apiary, family], url: apiary_family_cards_path, method: :post do |f|
  h3 Добавить карточку
  hr
  ul.nav.nav-tabs
    li.active
      = link_to 'Матки', '#mother', data: { toggle: "tab" }, class: 'tab-switches'
    li
      = link_to 'Характеристики семьи', '#mother_characteristics', data: { toggle: "tab" }, class: 'tab-switches'
   

  div.tab-content
    div.tab-pane.fade.in.active#mother
      = render 'cards/forms/mother_form', form: f, womb: womb
    div.tab-pane.fade.in#mother_characteristics
      = render 'cards/forms/family_characterisctics_form', form: f, family_characteristic: family_characteristic

  = f.button :submit, value: 'Создать карточку', class: 'btn btn-primary left'
