div.container.family-characteristics
  div.row
    div.span6
      h3.text-center Карточка матки семьи 
      table.table.table-bordered
        thead
          tr 
            th Год
            th Порода
            th Плодность
            th Метка
            th Комментарий
        tbody
          - @family.wombs.order('year DESC').each do |womb|
            tr
              td = womb.year.year
              td = womb.breed
              td = womb.prolificacy
              td = womb.label
              td = womb.comment

    div.span6
      h3.text-center Характеристики семьи 
      table.table.table-bordered
        thead
          tr 
            th Год
            th Мед.продукт.
            th Воск.продукт.
            th Сила семьи
            th Комментарий
        tbody
          - @family.family_characteristics.order('date DESC').each do |f_ch|
            tr
              td = f_ch.date.year
              td = f_ch.honey_productivity
              td = f_ch.wax_productivity
              td = f_ch.family_strength
              td = f_ch.comment