@import "content_menu";
@import "jquery.ui.all";
@import "magnific_popup";
@import "bourbon";
@import "layout";
@import "bootstrap_and_overrides";
@import "forms";
@import "spectrum_colorpicker";
@import "datepicker";

html, body {
  min-height: 750px;
  margin: 0;
  width: 100%; height: 100%;
  position: relative;

  > footer {
    display: block; width: 100px; height: 50px;
  }
}

#message_box {
  display: none;
}