.simple_form {
  h3 {
    font-size: 32px; text-align: center;
    display: block; 
  }

  &.new_post {
    textarea {
      resize: vertical;
      height: 300px;
    }
    .nav-tabs {
      li {
        a {
          font-size: 15px;
        }
      }
    }
  }
  // #apiary_wombs_attributes_0_year_2i,
  // #apiary_wombs_attributes_0_year_3i,
  // #apiary_wombs_attributes_0_year_4i,
  // #apiary_wombs_attributes_0_year_5i {
  //   display: none;
  // }
}

#post_year_1i, #post_year_2i, #post_year_3i {
  width: 100px;
}