#header-menu {
  display: block;
}

.loginbox, .formbox {
  border: 1px solid black;
  margin: 20px auto 0  auto;
  display: block; 
  width: 500px;
  padding: 20px;  
  border-radius: 20px;
  &.without-border {
    border: 0; border-radius: 0;
  }
  &.big {
    width: 700px;
  }
  h2 { text-align: center; }
}


.list {
    width: 100%;
    height: 100%;
    margin: -20px 20px 100px -20px;
  > li {
    margin: 40px 0 0 40px;
    list-style: none;
    float: left;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    position: relative;
    div {
      &.dropdown {
        position: absolute;
        bottom: 0;
      }
    }
    &.family {
      background: image-url('uliy.png') no-repeat center center;
      > a {
        line-height: 0;
        color: white;
        text-shadow: 0 0 7px black;
        text-decoration: none;
        font-weight: bold;
      }
      div.dropdown {
        display: block; width: 100%; height: 100%;
        > a {
          display: block; width: 100%; height: 100%;
          &:hover {
            box-shadow: 0 0 30px #888888;
          }
        }
      }
    }
    &.create {
      > a {
        &:hover {
          box-shadow: inset 0 0 30px #888888;
        }
      }
    }

    > a {
      width: 100%; height: 100%; display: block;
      line-height: 200px;
      &:hover {
        box-shadow: 0 0 30px #888888;
      }
      > dl {
        margin: 0;
        dt {
          line-height: 200px;
        }
      }


    }
  }
}


.families{
  text-align: center  
}


table.jobs {
  thead {
    th { text-align: center; }
  }

  td {
    &.buttons {
      text-align: center;
    }
  }

}

table {
  &.informations {
    font-size: 12px;
    input {
      width: 90%;
    }
  }
  &.journal {
    td.time {
      width: 15%;
    }
    p { width: 70%; }
    table.informations {
      width: 90%;
    }
    img {
      &.img-polaroid {
      }
    }
  }
}

.family-characteristics {
  
}