<!DOCTYPE html>
<html>
<head>
  <title>ApiariesManager</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header-menu">
  <%= render 'shared/header_menu' %>
</header>
<!-- Gismeteo informer START -->
<!-- <link rel="stylesheet" type="text/css" href="http://www.gismeteo.ru/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-P7S6k3HjDvo0T6" class="gsInformer" style="width:210px;height:248px">
  <div class="gsIContent">
   <div id="cityLink">
     <a href="http://www.gismeteo.ru/city/daily/4368/" target="_blank">Погода в Москве</a>
   </div>
   <div class="gsLinks">
     <table>
       <tr>
         <td>
           <div class="leftCol">
             <a href="http://www.gismeteo.ru" target="_blank">
               <img alt="Gismeteo" title="Gismeteo" src="http://www.gismeteo.ru/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
               <span>Gismeteo</span>
             </a>
           </div>
           <div class="rightCol">
             <a href="http://www.gismeteo.ru/city/weekly/4368/" target="_blank">Прогноз на 2 недели</a>
           </div>
           </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="http://www.gismeteo.ru/ajax/getInformer/?hash=P7S6k3HjDvo0T6" type="text/javascript"></script>
 --><!-- Gismeteo informer END -->
<%= yield %>

<footer></footer>

</body>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript %>
</html>
